@import '../../assets/scss/colors.scss';


.btn-view {
    background-color: $color_primary;
    color: white;
    font-weight: bold;
    cursor: pointer;    
}

.card-img-top {    
    height: 150px;
    object-fit: contain;
}

.alert-info {
    font-size: 1.5rem;
}

.card-company {
    box-shadow: 0px 0px 20px -12px rgba(0,0,0,0.75);
    border: 0;
}