.form-company {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}


.width-image {
    width: 10%;
}

.card-img-top {
    height: 150px;
    object-fit: contain;
}