@import '../../assets/scss/colors.scss';


.btn-actions {
    background-color: $color_tree;
    color: white;
    font-weight: bold;    
}

.btn-icons {
  cursor: pointer;
}

.btn-view {
  cursor: pointer;
}

.card-img-top {    
    height: 150px;
    object-fit: contain;
}

.alert-info {
    font-size: 1.5rem;
}

.card-company {
    box-shadow: 0px 0px 20px -12px rgba(0,0,0,0.75);
    border: 0;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    min-height: 210px;
    margin-top: 10em;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid $color_primary;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  

  .rec-item-wrapper {
    width: 280px !important;
    max-height: 500px !important;
    min-height: 500px !important;
    height: 500px !important;
  }

  .title-div {
    margin-left: 4rem;
  }

  h3 a {
    text-decoration: none;
    color: white;
  }

  h3 a:hover {
    text-decoration: none;
    color: white;
  }