@import '../../assets/scss/colors.scss';

.bg-header {
    background-color: $color_primary;
}

.tage-header {
    color: $color_secondary;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.navbar-icons {
    font-size: 2rem;
}

.back {
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
}

.back a {
    text-decoration: none;
    color: white;
}

.back:hover {
    text-decoration: none;
    color: white;
}

.navbar-brand-p {
    word-break: break-all;
    font-size: 1.5rem;
    padding: 0;
    color: white;
    font-weight: bold;
    margin-top: 0.5em;
}

@media only screen and (max-width: 1024px) {
    .navbar-brand {
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .collapse {
        display: flex !important;
    }
    .navbar-nav {
        display: contents;
        text-align: center;
    }
    .nav-item {
        width: 100%;
    }
    .jumbotron {
        margin-top: 10em !important;
    }
    .back {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        font-weight: 500;
    }

    .navbar-brand-p {
        word-break: break-all;
        font-size: 1.5rem;
        padding: 0;
        color: white;
        font-weight: bold;
    }

    .nav-name {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .nav-icons {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
}