@import '../../assets/scss/colors.scss';

.bg-header {
    background-color: $color_primary;
}

.tage-header {
    color: white;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.navbar-icons {
    font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
    .navbar-brand {
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .collapse {
        display: flex !important;
    }
    .navbar-nav {
        display: contents;
        text-align: center;
    }
    .nav-item {
        width: 100%;
    }
    .jumbotron {
        margin-top: 5.5em !important;
    }
}