@import './assets/scss/colors.scss';

.app {
  background-image: url('./assets/img/header.jpg');
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.sidebar-autentication {
  height: 100%;
  background-color: $color_body;
  color: black;
  box-shadow: 4px 3px 6px 0px rgba(0,0,0,0.75);
  position: absolute;
  left: 0;
}

.tage-header {
  color: $color_secondary;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

.info {
  font-size: 1.5rem;
  font-weight: 400;
}

.name-label {
  font-size: 1rem;
  font-weight: 500;
}

.register-me {
  font-size: 2rem;
  color: $color_search;
  font-weight: 600;
  cursor: pointer;
}