@import '../../assets/scss/colors.scss';

.modal-header {
    border: 0;
}

.modal-footer {
    border: 0;
}

.modal-title {
    text-align: center;
    font-weight: bold;
    font-style: normal;    
}
